@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic");
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.start {
  position: absolute;
  z-index: 24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.startbg {
  position: absolute;
  width: 100vw;
  height: 100vh; }

.startbg1 {
  position: absolute;
  width: 100vw;
  height: 100vh; }

.music_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.music_notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative; }

.category_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.player_score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.player_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.player_turn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.turns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.next_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.wrapper {
  position: relative;
  background-image: url("../img/bg.svg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0; }

.video {
  z-index: 4;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; }

.logo {
  z-index: 21;
  width: 560px;
  height: 500px;
  background-repeat: no-repeat;
  background-image: url("../img/logo.png"); }
  .logo:hover {
    cursor: pointer; }

.turns {
  position: absolute;
  z-index: 20;
  top: 0%;
  left: 3%; }
  .turns .next_round {
    width: 140px;
    height: 48px;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #F99F00;
    background-color: #340A1F;
    border-radius: 24px;
    margin-right: 24px;
    border: 1px solid #9d5f1f; }
    .turns .next_round:hover {
      cursor: pointer; }
  .turns .next_round.round1 {
    background-color: #1DD11A;
    color: #fff; }

.music_box {
  position: relative;
  z-index: 4;
  padding: 24px;
  border: 1px solid #9d5f1f;
  border-radius: 32px; }

.music_notes {
  padding-top: 64px;
  padding-bottom: 64px;
  border-radius: 32px;
  border: 8px solid #9d5f1f;
  background-color: #340A1F; }

.category {
  margin-bottom: 64px; }

.category4 {
  margin-bottom: 0; }

.category_name {
  z-index: 2;
  width: 540px;
  height: 132px;
  margin-right: 40px;
  border-radius: 0 24px 24px 0;
  padding: 12px 12px 12px 36px;
  background-color: #F99F00;
  -webkit-box-shadow: 0px 0px 20px 0px #f99f00;
  box-shadow: 0px 0px 20px 0px #f99f00; }
  .category_name .name-text {
    text-align: left; }
  .category_name .fname {
    color: #000;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    font-size: 46px; }
  .category_name .sname {
    color: #000;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 32px; }

.note {
  z-index: 2;
  position: relative;
  width: 200px;
  height: 164px;
  margin-right: 40px;
  background-repeat: no-repeat;
  background-image: url("../img/note.svg"); }
  .note:hover {
    cursor: pointer; }
  .note .note-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #FFCAC6;
    text-shadow: 0px 0px 11px #F95F6A;
    font-size: 80px;
    position: absolute;
    top: 34%;
    left: 19%;
    opacity: 0; }

.lines {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%; }
  .lines .line {
    -webkit-box-shadow: 0px 0px 24px 0px #f95f6a;
    box-shadow: 0px 0px 24px 0px #f95f6a;
    background-color: #F95F6A;
    height: 4px;
    margin-bottom: 24px; }

.players {
  margin-left: 32px; }
  .players .player {
    width: 400px;
    height: 230px;
    position: relative;
    margin-bottom: 24px;
    border-radius: 200px 0 0 200px;
    background: -webkit-gradient(linear, left top, right top, from(#5B0020), color-stop(61%, #970805), color-stop(88%, #E34B24), to(#750920));
    background: -webkit-linear-gradient(left, #5B0020 0%, #970805 61%, #E34B24 88%, #750920 100%);
    background: -o-linear-gradient(left, #5B0020 0%, #970805 61%, #E34B24 88%, #750920 100%);
    background: linear-gradient(90deg, #5B0020 0%, #970805 61%, #E34B24 88%, #750920 100%); }
  .players .player4 {
    margin-bottom: 0; }
  .players .score {
    width: 214px;
    height: 214px;
    margin: 8px 0 0 12px;
    background-repeat: no-repeat;
    background-image: url("../img/player_circle.svg"); }
    .players .score .player_score {
      font-size: 40px;
      width: 96px;
      height: 64px;
      border-radius: 32px;
      text-align: center;
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      background-color: #640583; }
  .players .player_name {
    position: absolute;
    width: 360px;
    height: 58px;
    bottom: 8%;
    padding-left: 40px;
    font-family: "Open Sans", sans-serif;
    color: #E8D0FF;
    font-size: 24px;
    background-image: url("../img/name_line.svg"); }
  .players .player_turn {
    position: absolute;
    right: 8%;
    top: 12%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #261239; }
    .players .player_turn:hover {
      cursor: pointer; }
    .players .player_turn .turn_circle {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #1DD11A; }
    .players .player_turn .turn_circle_4 {
      opacity: 0; }
    .players .player_turn .turn_circle_3 {
      opacity: 0; }
    .players .player_turn .turn_circle_2 {
      opacity: 0; }
    .players .player_turn .add {
      position: absolute;
      top: 150%;
      width: 24px;
      height: 24px;
      border-radius: 24px;
      opacity: 1;
      background-color: #F95F6A; }
